en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
databases==0.9.0
joblib==1.3.2
fastapi==0.115.5
fastapi-jwt-auth==0.5.0
fastavro==1.7.1
fasteners==0.18
fastjsonschema==2.15.3
uvicorn==0.22.0
spacy
spacy-legacy
spacy-lookups-data
spacy-transformers
google-api-core==2.21.0
google-api-python-client==2.79.0
google-auth==2.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.2.0
google-cloud==0.34.0
google-cloud-appengine-logging==1.5.0
google-cloud-audit-log==0.3.0
google-cloud-bigquery==3.27.0
google-cloud-bigquery-storage==2.14.2
google-cloud-core==2.4.1
google-cloud-logging==3.11.3
google-cloud-storage==2.18.2
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.56.4
greenlet==1.1.3
grpc-google-iam-v1==0.13.1
grpcio==1.60.0
grpcio-status==1.47.0
Flask-SQLAlchemy==3.0.2
typing_extensions==4.12.2
pydantic
passlib==1.7.4
jose==1.0.0